<div class="main-container" ng-controller="mainCtrl">
	<div class="title mint">Contact</div>
	<div class="separator gray">////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////</div>
	<div class="contact-info">
		<div class="left-content white">
			<div class="info-content">
				<div class="contact-text">TOAN QUACH</div>
				<div class="contact-text">Senior Java Engineer</div>
				<hr />
				<div>5002 232nd St SW</div>
				<div>Mountlake Terrace, WA 98043</div>
				<div class="contact-way">Cell: 515-346-4204</div>
				<div>Email: toanqc@gmail.com</div>
			</div>
		</div>
		<div class="contact-form-container">
			<div class="send-message">Send me a message</div>
			<form>
				<div class="contact-form">
					<div>
						<input type="text" name="name" id="name" placeholder="Name" />
					</div>
					<div>
						<input type="email" name="email" id="email" placeholder="Email" />
					</div>
					<div>
						<input type="text" name="subject" id="subject"
							placeholder="Subject" />
					</div>
					<div>
						<textarea name="message" id="message" placeholder="Message"></textarea>
					</div>
					<div class="button">
						<button id="send">Send</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>