<div class="main-container" ng-controller="mainCtrl">
	<div class="flexslider">
		<ul class="slides">
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/001.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/002.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/003.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/004.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/005.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/006.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/007.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/008.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/009.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/010.jpg" /></a></li>
			<li><a href=""><img class="fade-image"
					src="assets/img/slide/011.jpg" /></a></li>
		</ul>
	</div>
</div>