<div class="main-container" ng-controller="mainCtrl">
	<div class="right-content">
		<div class="skillset">
			<div class="description gray">Technologies I used</div>
			<div class="item mint">
				<span class="bolder">Languages:</span> <span class="black">Java,
					JavaScript, HTML, CSS, PHP, COBOL</span>
			</div>
			<div class="item mint">
				<span class="bolder">Web:</span> <span class="black">EJB,
					Hibernate, JPA, Spring, Spring MVC, AngularJS, JQuery, RESTful Web
					Services, Struts</span>
			</div>
			<div class="item mint">
				<span class="bolder">Application:</span> <span class="black">JavaFX,
					Java Swing, AWT</span>
			</div>
			<div class="item mint">
				<span class="bolder">Databases:</span> <span class="black">Oracle,
					DB2, MySQL, MSSQL, HiRDB, H2, Derby</span>
			</div>
			<div class="item mint">
				<span class="bolder">Tools:</span> <span class="black">Eclipse,
					NetBeans, Jenkins, VisualVM, YourKit Java Profiler, Ant, Maven,
					Tomcat, WebSphere, Glassfish, Git, SVN, Bugzilla, Jira, Fisheye &
					Crucible, Gerrit, Confluence, JUnit, Mockito, Selenium, Arquallian,
					Adobe Photoshop, Adobe Illustrator</span>
			</div>
			<div class="item mint">
				<span class="bolder">Platforms:</span><span class="black">
					Mac OS X, Windows, Linux RedHat Enterprise</span>
			</div>
		</div>
	</div>
</div>