<div class="main-container" ng-controller="mainCtrl">
	<div class="left-content gray">
		<div class="title mint">I am</div>
		<div class="description black">Senior Java Engineer</div>
	</div>

	<div class="right-content black">
		<div class="description black">Technical Summary</div>
		<div class="item">Exceptionally skilled Java Engineer with 10
			years of progressively senior experience in web application
			development, project management, and software engineering. Specialize
			in Java, with particular expertise of Spring and Hibernate.</div>
		<div class="item">Outstanding talent and translating into
			feasible technical specification.</div>
		<div class="item">Highly skilled at working with team members to
			achieve project goals on time and within budget</div>
		<div class="item">Excellent ability to coordinate the full
			software development life-cycle, with involvement in all stages of
			planning, front-end and back-end development, testing, and
			deployment.</div>
	</div>

	<div class="pictures-slide"></div>
</div>