<div class="header">
	<div class="logo logo-content">
		<h1 class="white">t</h1>
	</div>
	<div class="my-title">
		<h4 class="black">TOAN QUACH</h4>
		<h4 class="gray">SENIOR JAVA ENGINEER</h4>
	</div>
	<div class="menu-container">
		<div class="menu">
			<a href="">HOME</a>
		</div>
		<div class="menu">
			<a href="">WHO I AM</a>
		</div>
		<div class="menu">
			<a href="">WHAT I DO</a>
		</div>
		<div class="menu">
			<a href="">MY HOBBIES</a>
		</div>
		<div class="menu">
			<a href="">CONTACT</a>
		</div>
	</div>
</div>
<div class="clearfix"></div>