<div class="header-container" ng-controller="mainCtrl">
	<div class="header">
		<div class="logo logo-content">
			<h1 class="white">t</h1>
		</div>
		<div class="my-title">
			<h4 class="black">TOAN QUACH</h4>
			<h4 class="gray">SENIOR JAVA ENGINEER</h4>
		</div>
		<div class="menu-container">
			<div class="menu">
				<a ui-sref="/">HOME</a>
			</div>
			<div class="menu">
				<a ui-sref="who-i-am">WHO I AM</a>
			</div>
			<div class="menu">
				<a ui-sref="what-i-do">WHAT I DO</a>
			</div>
			<div class="menu">
				<a href="">MY HOBBIES</a>
			</div>
			<div class="menu">
				<a ui-sref="contact-me">CONTACT</a>
			</div>
		</div>
	</div>
</div>