<div class="footer-container" ng-controller="mainCtrl">
	<div class="footer">
		<div class="contact-row">
			<div class="left">
				<i class="fa fa-mobile mint"></i> <span>Phone: </span><a
					class="footer-text phone mint" href="tel:+15153644204">(515)
					346-4204</a>
			</div>
			<div class="middle">
				<i class="fa fa-map-marker mint"></i><a class="footer-text gray"
					href="https://www.google.com/maps/place/5002+232nd+St+SW,+Mountlake+Terrace,+WA+98043/@47.788165,-122.300945,17z/data=!3m1!4b1!4m2!3m1!1s0x5490101ad5f242c9:0x7096d5ebb1da8ad3"
					target="_blank">5002 232nd St SW, Mountlake Terrace, WA 98043</a>
			</div>
			<div class="right">
				<i class="fa fa-envelope-o mint"></i><a class="footer-text gray"
					href="mailto:toanqc@gmail.com">toanqc@gmail.com</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="social-row">
			<div class="follow gray">FOLLOW ME ON</div>
			<div>
				<ul class="social-list">
					<li><a href="http://www.facebook.com/toanqc" target="_blank"><i
							class="fa fa-facebook"></i></a></li>
					<li><a href="http://www.linkedin.com/in/toanquach"
						target="_blank"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="http://github.com/toanqc" target="_blank"><i
							class="fa fa-github"></i></a></li>
					<li><a href="http://twitter.com/toanqc" target="_blank"><i
							class="fa fa-twitter"></i></a></li>
					<li><a href="http://plus.google.com/+ToanQuach2510/"
						target="_blank"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="http://beknown.com/toanquach" target="_blank"><i
							class="fa fa-medium"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="copyright-container">
		<div class="copyright-row">
			<div class="my-site">Toan Quach's Portfolio - 2015</div>
			<div class="copyright-text">©2015 All Rights Reserved.</div>
		</div>
	</div>
</div>