<div class="header-container" ng-controller="mainCtrl">
	<div class="header">
		<div class="logo logo-content">
			<h1 class="white">t</h1>
		</div>
		<div class="my-title">
			<h4 class="black">TOAN QUACH</h4>
			<h4 class="gray">SENIOR JAVA ENGINEER</h4>
		</div>
		<div class="menu-container">
			<div>
				<a ui-sref="/">WHO I AM</a>
			</div>
			<div>
				<a ui-sref="what-i-achieve">WHAT I ACHIEVED</a>
			</div>
			<div>
				<a ui-sref="what-i-love">WHAT I LOVE</a>
			</div>
			<div>
				<a ui-sref="contact-me">CONTACT</a>
			</div>
		</div>
	</div>
</div>