.header-container {
	border-top: 7px solid rgba(73, 187, 204, 1);
	border-bottom: 0px solid rgba(73, 187, 204, 1);
}

.header {
	width: 980px;
	margin: 50px auto;
}

.logo {
	float: left;
	width: 100px;
	height: 100px;
	border: 0px solid #49bbcc;
	background-color: #49bbcc;
}

.logo-content {
	border-radius: 50%;
	padding-top: 1px;
	text-align: center;
}

.my-title {
	padding: 10px 0 0 20px;
	font-family: Tahoma;
	float: left;
}

.menu-container {
	padding-top: 30px;
	float: right;
}

.menu-container div {
	display: inline-block;
	padding-left: 25px;
	font-size: 16px
}

.contact-row {
	margin-top: 10px;
}

.footer-container {
	
}

.footer {
	width: 980px;
	margin: 0 auto;
	border-top: 1px solid #dfdfdf;
}

.footer .left {
	float: left;
	width: 30%;
}

.footer .middle {
	float: left;
	text-align: center;
	width: 42%;
}

.footer .right {
	float: right;
}

.footer .contact-row i {
	font-size: 40px;
	vertical-align: middle;
}

.footer-text {
	margin-left: 5px;
	font-weight: bold;
}

.footer-text.phone {
	font-size: 20px;
}

.social-row {
	text-align: center;
}

.follow {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 5px 50px;
}

.social-row ul li {
	display: inline-block;
	margin: 0 10px;
	zoom: 1;
}

.social-row ul li a {
	width: 40px;
	height: 40px;
	display: block;
	background-color: #49bbcc;
	padding: 8px 8px;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.social-row ul li i {
	font-size: 25px;
	color: #fff;
}

.copyright-container {
	background-color: #49bbcc;
	color: #ffffff;
	height: 50px;
	padding-top: 15px;
	align-self: flex-end;
}

.copyright-row {
	width: 980px;
	margin: 0 auto;
}

.my-site {
	float: left;
}

.copyright-text {
	float: right;
}