* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url("../img/background.png");
	background-repeat: repeat;
	background-size: auto;
	background-position: 50% 0%;
	color: #474747;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	color: #49bbcc;
}

a:link, a:hover, a:focus, a:visited {
	text-decoration: none;
}

a:focus, a:hover {
	color: #848484;
}

h1 {
	font-weight: bold;
	font-size: 50px;
}

.white {
	color: #ffffff;
}

.page-container {
	width: 100%;
	height: 100%;
}

.black {
	color: #474747;
}

.gray {
	color: #848484;
}

.mint {
	color: #49bbcc;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
	.main-container {
		width: 930px;
		margin: 0 auto;
		height: 600px;
	}
}

/* Desktop */
@media (min-width: 1025px) {
	.main-container {
		width: 980px;
		margin: 0 auto;
		height: 600px;
	}
}

.title {
	font-size: 100px;
	font-weight: bold;
}

.description {
	font-size: 40px;
	font-weight: bold;
}

.intro {
	font-size: 36px;
	font-weight: bold;
}

.gap {
	margin-top: 10px;
}

.error {
	color: red;
	font-weight: bold;
}

/* WHO I AM PAGE */
.left-content {
	float: left;
	width: 48%;
	text-align: justify;
}

.left-content ul {
	padding-top: 5px;
}

.right-content {
	float: right;
	text-align: justify;
	width: 48%;
}

.flexslider {
	width: 100%;
	border: none;
	margin: 37% 0 0 0;
}

.flexslider .slides img {
	border-radius: 20px;
	height: 300px;
}

.flex-control-nav {
	bottom: 10px;
	z-index: 1000;
}

.flex-control-paging li a {
	font-size: 0px;
	width: 10px;
	height: 10px;
	display: block;
	background: #fff;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 10px;
}

.flex-control-paging li a:hover {
	background: #49bbcc;
}

.flex-control-paging li a.flex-active {
	background: #49bbcc;
	cursor: default;
}

.profile-picture {
	margin: 0 auto;
	width: 50%;
}

.profile-picture img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.skillset {
	padding-left: 30px;
}

.skillset .item {
	padding-top: 5px;
}

.resume {
	text-align: center;
	margin: 15px 0 0 0;
	font-size: 30px;
}

.resume a:hover, .resume-what-i-achieve a:hover {
	text-decoration: none;
}

/* WHAT I DO PAGE */
.achivement-container {
	width: 75%;
	margin: 0;
	text-align: justify;
	float: left;
}

.achivement-list {
	margin-top: -20px;
}

.achivement-list li {
	margin-left: -15px;
	font-size: 16px;
	color: #49bbcc;
}

.achivement-item li {
	color: #474747;
	font-size: 14px;
	font-weight: normal;
}

.tech-container {
	position: relative;
	text-align: right;
	margin: 3% 0 0 0;
}

.tech-container img {
	height: 20%;
	width: 20%;
}

/* CONTACT PAGE */
.separator {
	margin: -40px 0 0 15px;
	font-size: 20px;
	letter-spacing: 2px;
}

.contact-info {
	margin: 30px 0 0 20px;
}

.info-content {
	padding: 70px 0 0 0;
	width: 330px;
	height: 330px;
	border-radius: 50%;
	background-color: #49bbcc;
	text-align: center;
	font-size: 16px;
}

.info-content .contact-text {
	font-size: 20px;
}

.info-content hr {
	width: 60%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.info-content .contact-way {
	margin-top: 20px;
}

input[type='text'], input[type='email'], textarea {
	border: 1px solid rgba(156, 156, 156, 0.55);
	border-radius: 5px;
	padding: 6px;
	width: 100%;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}

input[type='text']:focus, input[type='email']:focus, textarea:focus {
	box-shadow: 0 0 5px #49bbcc;
	border: 1px solid #49bbcc;
	margin-left: -5px;
}

textarea {
	resize: none;
	height: 130px;
}

button {
	background-color: #49bbcc;
	color: #fff;
	cursor: pointer;
	min-width: 80px;
	border: 0;
	border-radius: 5px;
	padding: 5px;
}

.send-message {
	font-size: 20px;
	padding-bottom: 10px;
}

.contact-form div {
	margin: 0 0 5px;
}

.contact-form-container {
	float: right;
	text-align: justify;
	width: 50%;
}

.contact-form .button {
	text-align: right;
}

/* MY HOBBIES */
.hobbies-container {
	margin: 0;
	text-align: justify;
	float: left;
}

.gap-space {
	padding-top: 50px;
}

/* PAGE TRANSITION */
[ui-view].ng-enter, [ui-view].ng-leave {
	position: absolute;
	transition: 1s all ease;
	-moz-transition: 1s all ease;
	-webkit-transition: 1s all ease;
}

[ui-view].ng-enter {
	-webkit-animation: slideInRight 1s both ease;
	-moz-animation: slideInRight 1s both ease;
	animation: slideInRight 1s both ease;
}

[ui-view].ng-leave {
	-webkit-animation: slideOutLeft 1s both ease;
	-moz-animation: slideOutLeft 1s both ease;
	animation: slideOutLeft 1s both ease;
}

@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}